In [1]:
import pandas as pd

In [2]:
seth_df = pd.DataFrame()

In [4]:
season = [2003,2003,2004,2004]
lowID = [1411,1112,1197,1163]
highID = [1421,1436,1250,1436]
win = [0,1,1,1]

In [5]:
seth_df['Season'] = season
seth_df['LowID'] = lowID
seth_df['HighID'] = highID
seth_df['Win'] = win

In [6]:
seth_df

   Season  LowID  HighID  Win
0    2003   1411    1421    0
1    2003   1112    1436    1
2    2004   1197    1250    1
3    2004   1163    1436    1